@import "../../../Scss/colors";
@import "../../../Scss/mixins";

.import-products {
    @include my-flex(space-between, center);
    @include my-wh(100%, 600px);
    @include my-border;
    margin-top: 60px;
    margin-bottom: 100px;
    padding: 10px;
    position: relative;
    background: linear-gradient(45deg, $light-headline, $light-aside-background);
    overflow: unset;
    border-radius: 10px;

    > div {
        &:first-of-type {
            @include my-wh(50%, 100%);

            > div {
                &:first-of-type {
                    height: 50%;

                    label {
                        @include my-form-label;
                    }

                    input {
                        @include my-form-input;
                        direction: rtl;
                    }
                }

                &:nth-of-type(2) {
                    @include my-wh(200px, 200px);
                    position: absolute;
                    transform: scale(1.5) translateX(100px);
                    top: 70%;
                    right: 15%;

                    img {
                        @include my-wh(100%, 100%);
                    }
                }
            }
        }

        &:last-of-type {
            @include my-wh(50%, 100%);
            label {
                @include my-form-label;
            }

            input {
                @include my-form-input;
                direction: rtl;
            }

            div {
                &:last-of-type {
                    margin-top: 20px;
                    text-align: end;
                    padding-left: 10%;

                    button {
                        @include my-border;
                        padding: 10px 15px;
                        transform: translateY(100px);
                        background: rgb(49, 189, 213);
                        color: white;
                        border-color: rgb(49, 189, 213);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
