@import "../../Scss/colors";
@import "../../Scss/mixins";

header {
    @include my-wh(100%, auto);
    padding: 15px 0;
    background: $light-aside-background;

    .header-content {
        @include my-flex(space-between, center);
        @include my-wh(100%, auto);

        .admin-profile {
            @include my-flex(space-between, center);

            .admin-profile-avatar {
                @include my-wh(70px, 70px);
                margin-left: 10px;

                img {
                    @include my-wh(100%, 100%);
                    @include my-border;
                    border-radius: 50%;
                }
            }

            .admin-profile-info {
                h2 {
                    font-size: 1.5em;
                }

                h3 {
                    font-size: 1.2em;
                }
            }
        }

        .admin-profile-Section-left {
            @include my-flex(space-between, center);

            .search-box {
                height: 50px;

                input {
                    width: 350px;
                }

                span {
                    font-size: 1.8em;
                }
            }

            button {
                @include my-border;
                padding: 6.5px 12px;
                font-size: 1.5em;
                margin-right: 10px;
            }
        }
    }
}
