// Light Theme
$light-aside-background: #b8bcd5;
$light-main-background: #e9ebf5;
$light-headline: #232946;
$light-paraghraph: #232946;
$light-button2: #3da9fc;
$light-button: #eebbc3;
$light-button-text: #fffffe;
$light-card-background: #fffffe;

// Dark Theme
$dark-background: #16161a;
$dark-headline: #fffffe;
$dark-paraghraph: #94a1b2;
$dark-button: #7f5af0;
$dark-button-text: #fffffe;

$placehorder-color: #f7f8fc;
